<header class="header">
  <nav class="nav">
    <div class="logo">CIPHER BIKRAM</div>
    <div class="menu">
      <a href="/index.html" data-path="/index.html">Home</a>
      <a href="/ebooks/index.html" data-path="/ebooks/">Ebooks</a>
      <a href="/techniques/index.html" data-path="/techniques/">Techniques</a>
      <a href="/gallery/index.html" data-path="/gallery/">Hacker Gallery</a>
      <a href="/tools/index.html" data-path="/tools/">Tools</a>
      <a href="/blogs/index.html" data-path="/blogs/">Blogs</a>
      <a href="/about/index.html" data-path="/about/">About Me</a>
      <a href="/contact/index.html" data-path="/contact/">Contact</a>
    </div>
  </nav>
</header>
